.DuocBot {
  * {
    box-sizing: border-box;
  }
  .agario-promo {
    z-index: 1000;
    height: 524px !important;
    background-image: url("https://lh3.googleusercontent.com/-3ZFr6OKN4H4/VdiNAqlyb8I/AAAAAAAACS8/ZvrXgi7tVtY/s0/KinhBatChanhDao.jpg") !important;
    background-position: center;
    background-size: cover;
    > div {
      display: none;
    }
  }
  #settings {
    display: block !important;
  }
  .btn-settings {
    display: none;
  }
  .control-panel {
    z-index: 100000;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 300px;
    background: rgba(72, 72, 72, 0.63);
    .minimap-panel {
      position: relative;
      pointer-events: none;
      width: 300px;
      height: 300px;
      .minimap-canvas {
        width: 100%;
        height: 100%;
        position: relative;
      }
      .grid {
        position: absolute;
        width: 100%;
        height: 100%;
        .grid-cell {
          font-weight: bold;
          background: transparent;
          display: inline-block;
          height: calc(100%/6);
          width: calc(100%/6);
          padding-top: 14px;
          font-size: 20px;
          color: rgba(255, 255, 255, 0.16);
          border: 0.5px solid rgba(255, 255, 255, 0.16);
          text-align: center;
        }
      }
    }
    .status-panel {
      font-size: 23px;
      padding: 10px;
    }
    .feedbot-panel {

    }
    .statsPanel {
      overflow: hidden;
    }
  }
}